@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Film" asp-action="Index" class="btn btn-primary">Film</a>
    <a asp-controller="Biglietto" asp-action="Index" class="btn btn-primary">Biglietti</a>
    <a asp-controller="Sala" asp-action="Index" class="btn btn-primary">Sale</a>
    <a asp-controller="Spettatore" asp-action="Index" class="btn btn-primary">Spettatori</a>
    <a asp-controller="Assegnamento" asp-action="Index" class="btn btn-primary">Assegnamenti</a>
</div>
